body {
    font-family: sans-serif;
}

label {
    cursor: pointer;
}

ul {
    padding-left: 0;
    list-style-type: none;
    overflow: hidden;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
